
<a href="/tag/{{parameterize name}}" class="{{materialize_color}}" id="login-redirect">
    <div class="card-panel {{materialize_color}}">
        <p class=" {{materialize_text_color}}-text center-align">{{uppercase name}}</p>
    </div>
</a>