<h2> User log in is: {{logged_in}}</h2>
<a href="/{{post.id}}">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
</a>
{{!-- {{#if logged_in}}
    <a href="/post/{{id}}">Update Post</a>
{{/if}} --}}
{{#each post.comments as |comment|}}
    {{> comment-detail}}
{{/each}}
{{#each post.tags as |tag|}}
    {{> tag-detail}}
{{/each}}