<header>

  <nav class="{{tag.materialize_color}}">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left {{tag.materialize_color}} {{materialize_modifier}} {{tag.materialize_text_color}}-text">POSTS TAGGED WITH {{uppercase tag.name}}</a>
            <ul id="nav-mobile" class="right">
                <li><a class="right {{tag.materialize_text_color}}-text" href="/">DASHBOARD</a></li>
                {{#if logged_in}}
                    <li><a class="right {{tag.materialize_text_color}}-text" href="/profile" id="profile-link">PROFILE</a></li>
                    <li><a class="right {{tag.materialize_text_color}}-text" id="logout">LOGOUT</a></li>
                {{else}}
                    <li><a class="right {{tag.materialize_text_color}}-text" href="/login" id="login-redirect">LOGIN</a></li>
                    <li><a class="right {{tag.materialize_text_color}}-text" href="/signup" id="signup-redirect">SIGNUP</a></li>
                {{/if}}
            </ul>
        </div>
  </nav>

</header>
<main>
  <br>
  <div class="container">
    {{#each tag.posts as |post|}}
      {{> post-detail}}
    {{/each}}
  </div>
</main>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}