<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">UPDATE POST</a>
        </div>
    </nav>
</header>
<main class="valign-wrapper">
    <div class="container">
        <div class="col-md-6">
            <form class="form update-post-form">
                <div class="form-group">
                    <label for="title-update-post">Title</label>
                    <input class="form-input" type="text" id="title-update-post" data-id="{{post.id}}" value="{{post.title}}"/>
                </div>
                <div class="form-group">
                    <label for="content-update-post">Content</label>
                    <input class="form-input" type="text" id="content-update-post" value="{{post.content}}"/>
                </div>
                <div class="form-group">
                    <label for="tags-update-post">Tags</label>
                    <input class="form-input" type="text" id="tags-update-post" placeholder="Comma separated text for tags" value="{{stringify post.tags}}"/>
                </div>
                <div class="form-group row center-align">
                    <button class="btn" type="submit">UPDATE</button>
                    <a href="/" class="btn grey">CANCEL</a>
                    <a href="/post/update/delete/{{post.id}}" class="btn btn-primary red">DELETE</a>
                </div>
            </form>
        </div>
    </div>

  <script src="/js/update-post.js"></script>
</main>